body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.scene-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.time-button {
  text-transform: capitalize;
}

#nightBG {
  transition:visibility 0.3s linear,opacity 0.3s linear;
}
