body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.scene-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  max-width: 1024px;
}

.time-button {
  text-transform: capitalize;
}

#nightBG {
  transition:visibility 0.3s linear,opacity 0.3s linear;
}

.cars {
  position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 77px;
    width: 100%;
}

.car-button {
  width: 140px;
  height: 90px;
}
